body {
  display:flex;
  flex-direction:row;
  background-image: linear-gradient(to right top, #fc986f, #ec8181, #cf7390, #a86b96, #7e6491);
  justify-content: space-evenly;
}

.switchRow {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.expanded > .switchRow {
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.test > .switchRow {
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #eeeeee;
  border-radius: 5px;
}

input {
  background-color: transparent;
  border: 1px solid #eeeeee;
  border-radius: 15px;
  font-size: 15px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 15px;
}

.column {
  display: flex;
  flex-direction: column;
}

* {
  font-family: 'Quicksand', sans-serif;
  color: #eeeeee;
}

p {
  margin: 0px;
  font-size: 20px;
}

button.node {
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

button.nodeSelected {
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #eeeeee;
  color: #333333;
}

button {
  background-color: transparent;
  border: 1px solid #eeeeee;
  border-radius: 15px;
  font-size: 15px;
}

.updown:hover {
  background-color: #eeeeee;
  color: #333333;
}

button:hover {
  cursor: pointer;
}

.hidden {
  visibility: hidden;
  width: 0px;
  height: 0px;
  padding: 0px;
  border: 0px;
  margin: 0px;
}

.leftSidebar {
  overflow: auto;
  padding: 20px;
}

.hiddenSameSize {
  visibility: hidden;
  padding: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button.updown {
  width: 25px;
  height: 25px;
}

input.warning {
  border-color: #b3bde6;
  color: #b3bde6;
}

p.warning {
  color: #b3bde6;
}

button.warning {
  border-color: #b3bde6;
  color: #b3bde6;
}

canvas {
  margin-left: 50px;
  margin-right: 50px;
}

.goal {
  border: 1px solid #eeeeee;
  border-radius: 15px;
  padding: 10px;
  position: sticky;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.addGoal {
  margin-bottom: 10px;
  margin-left: 10px;
}

.option {
  font-size: 15px;
  padding: 5px;
  background-color: #eeeeee;
  color: #333333;
  padding-left: 6px;
  padding-right: 6px;

}

.option:hover {
  background-color: #333333;
  color: #eeeeee;
  cursor: pointer;
}

.open {
  animation-name: dropdown;
  animation-duration: .5s;
  height: auto;
}

.select {
  display: inline-block;
  border: 1px solid #eeeeee;
  border-radius: 15px;
  height: 30px;
  overflow: hidden;
  position: absolute;
  text-align: center;
}

.select:hover {
  animation-name: dropdown;
  animation-duration: .25s;
  height: auto;
  z-index: 1;
}

.selected {
  display: inline-block;
  padding: 5px;
}

.selected:hover {
  cursor: pointer;
}

@keyframes dropdown {
  0% {
    height: 30px;
  }

  100% {
    height: var(--height);
  }
}

.dropdown {
  max-height: 102px;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.dropdown::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.space {
  height: 42px;
}

input.small {
  width: 50px;
}

.deleteButton {
  position: absolute;
  right: 5;
  top: 5;
  padding: 0;
  border: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid #eeeeee;
  background-color: transparent;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 2px;
  bottom: 2px;
  background-color: transparent;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
  border: 1px solid #eeeeee;
  background-color: transparent;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

input:checked ~ .slider::before {
  background-color: #eeeeee;
}

.sliderOption {
  margin-left: 10px;
}

.gene {
  border: 1px solid #eeeeee;
  border-radius: 15px;
  position: sticky;
  margin-bottom: 10px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.test {
  border: 1px solid #eeeeee;
  border-radius: 15px;
  overflow: hidden;
  height: 29px;
  animation-name: collapse;
  animation-duration: .5s;
  margin-top: 20;
  margin-bottom: 20px;
}

.testExpander {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  border: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.testExpander:hover {
  background-color: #eeeeee;
  color: #333333;
}

.genomeExpander {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  text-align: left;
  border: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.genomeExpander:hover {
  background-color: #eeeeee;
  color: #333333;
}

.numberSlider {
  -webkit-appearance: none;
  width: 100px;
  height: 5px;
  border-radius: 5px;  
  background: #eeeeee;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.numberSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #eeeeee;
  cursor: pointer;
}

.numberSlider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #eeeeee;
  cursor: pointer;
}

.genePart {

}

.geneSelect {
  
}

@keyframes expand {
  0% {
    height: 30px;
  }

  100% {
    height: var(--height);
  }
}

@keyframes collapse {
  0% {
    height: var(--height);
  }

  100% {
    height: 30px;
  }
}

.expanded {
  animation-name: expand;
  animation-duration: .5s;
  height: auto;
  border: 1px solid #eeeeee;
  border-radius: 15px;
  overflow: hidden;
  margin-top: 20;
  margin-bottom: 20px;
}

.testPadding {
  padding: 10px;
}